.item-navbar-container{
    margin-left: 7rem;
    margin-right: 7rem;
    height: 100%;
} 


.navbar-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    border-bottom: 0.1rem solid;
    border-color: #02adb9;
    height: 4.8rem;
}
.menu-center{
    font-size: 1.25rem;
    font-weight: 500;
    color: #00244a;
}
.navbar-menu{
    display: none;
}
.navbar-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

  .session-container{
    display: flex;
  }


@media (max-width: 768px) {

  .session-container{
    display: none;
  }
  .navbar-toggle{
    display: block;
  }
  .item-navbar-container{
    margin-left: 1rem;
    margin-right: 1rem;
  }

}