<div class="container-footer d-flex flex-column align-items-center justify-content-center">
  <div class="info d-flex flex-column flex-md-row justify-content-center align-items-stretch">
    <div class="footer-box">
      <div class="content-box">
        <h4>Ayuda</h4>
        <h6>Manuales del sistema</h6>
        <h6>preguntas frecuentes</h6>
      </div>
    </div>
    <div class="footer-box">
      <div class="content-box">
        <h4>Líneas de atención</h4>
      </div>
    </div>
    <div class="footer-box">
      <div class="content-box">
        <h4>Dirección</h4>
        <h6>Carrera 17#11-12 Municipio de Malambo - Atlántico</h6>
      </div>
    </div>
    <div class="footer-box">
      <div class="content-box">
        <h4>Email</h4>
        <h6>Hacienda&#64;malambo-atlantico.gov.co</h6>
      </div>
    </div>
  </div>

  <div class="divider-container w-100 d-flex align-content-center justify-content-center mt-3"></div>

  <div class="copyright-container">
    <p class="copyright-text">Realizado y producido por transfors web. 2025</p>
  </div>
</div>
